.subPageFooter
  .subPageFooter__link
    = link_to "プライバシーポリシー",  "", class: "subPageFooter__link__text"
    = link_to "メルカリ利用規約",     "", class: "subPageFooter__link__text"
    = link_to "特定取引に関する表記",  "", class: "subPageFooter__link__text"
  
  = link_to image_tag("mercari-logo2.svg", alt: "mercari_logo", class: "subPageFooter__mrcLogo"), root_path, class: ""

  .subPageFooter__inc ©️ Mercari, inc.