.upper
  .item1
    .item1__title
      メルカリについて
    %ul.item1__contents
      %li 会社概要
      %li 採用情報
      %li プレリリース
      %li 公式ブログ
      %li メルカリロゴ利用ガイドライン      

  .item2
    .item2__title
      ヘルプ＆ガイド
    %ul.item2__contents
      %li メルカリガイド
      %li らくらくメルカリ便
      %li ゆうゆうメルカリ便
      %li 梱包・配送たのメル便
      %li 車体取引ガイド 
  .item3
    .item3__title
      プライバシーと利用規約
    %ul.item3__contents
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 安心スマホサポート制度に関する特約
      %li コンプライアンスポリシー
      %li 車体取引ガイド 
  .item4
    .item4__title
      国

    %ul.item4__contents
      %li 日本
      %li United States
.lower
  = image_tag "logo-mercari-white.svg", alt: "メルカリ", class: "mrclogo"
  %span.inc
    ©️ Mercari, inc.
