.upper
  = image_tag "logo-mercari.svg", alt: "mercari", class: "mrclogo"
  .searchBox
    %input{placeholder: "何かお探しですか?"}

.lower
  .leftBox
    .item1
      .icon
      .caption
        カテゴリーから探す
    .item2
      .icon
      .caption
        ブランドから探す
  .rightBox
    .userRegistration
      新規会員登録
    .userLogin
      ログイン
  