.exhibitionWrap{
  background-color: #efefef;
  .main{
    width: 700px;
    background-color: #ffffff;
    margin: auto;
    .smallWrap{
      padding: 40px;
      border-bottom: solid 1px #efefef;
    }
  }
}