.productsWrap
  %h3.productsWrap__title
    レディース新着アイテム
  = link_to "", "もっと見る >"
  .productsWrap__box
    .upper
      = image_tag "", alt: "img", class: "productsWrap__box__img"
      .productsWrap__box__price
        ¥00,000
    .lower
      .productsWrap__box__name
        お試し
